server:
  port: ${PORT:8084}

spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:mysql://localhost:3306/lms_notification_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
