server:
  port: ${PORT:8085}

spring:
  application:
    name: attendance-service
  main:
    lazy-initialization: true
    banner-mode: off
  datasource:
    url: "${SPRING_DATASOURCE_URL}"
    username: "${SPRING_DATASOURCE_USERNAME}"
    password: "${SPRING_DATASOURCE_PASSWORD}"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
    instance-id: ${spring.application.name}:${RENDER_INSTANCE_ID:${random.value}}
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:https://discovery-service-nb5s.onrender.com/eureka/}
    registry-fetch-interval-seconds: 10

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.context.support: ERROR
    org.springframework.cloud.loadbalancer: ERROR
  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"
